@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");

html,
body {
	height: 100%;
}

body,
button {
	background-color: #cfcfc4;
}

#taskEntry,
.taskDiv {
	background-color: #a0c4ff;
	font-family: "Quicksand", sans-serif;
	text-align: center;
}

#taskEntry {
	position: sticky;
}

#clear {
	background-color: #a0c4ff;
	align-self: center;
	margin-bottom: 20px;
}

body,
div {
	display: flex;
	flex-direction: column;
}

body,
.taskDiv {
	justify-content: center;
}

div {
	margin: 1rem;
	align-items: center;
	border-radius: 5px;
	box-sizing: border-box;
}

#taskEntry {
	padding: 2rem;
}

h1,
input,
button {
	margin: 0.5rem;
}

h1,
p {
	color: white;
}

button {
	width: fit-content;
	font-weight: 600;
	border-radius: 10px;
}

.taskDiv {
	flex-direction: row;
	padding: 1rem;
	width: 75%;
}

#tasks {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	height: 100%;
	margin-bottom: 20px;
}

.taskList {
	width: 100%;
	/* flex-grow: 1; */
	height: 100%;
	overflow: auto;
}

@media only screen and (min-width: 768px) {
	.taskDiv {
		width: 50%;
	}

	#tasks {
		flex-direction: row;
	}

	.taskList {
		width: 50%;
	}
}

#uncompletedTasks {
	background-color: #ffadad;
}

#completedTasks {
	background-color: #caffbf;
}
